body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:530px;
  top:20px;
  width:300px;
  height:578px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:578px;
}
#u1 {
  position:absolute;
  left:2px;
  top:281px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:545px;
  top:142px;
  width:91px;
  height:91px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u3 {
  position:absolute;
  left:2px;
  top:36px;
  width:87px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:636px;
  top:142px;
  width:91px;
  height:91px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:87px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:545px;
  top:233px;
  width:181px;
  height:181px;
  font-size:48px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u7 {
  position:absolute;
  left:2px;
  top:57px;
  width:177px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:726px;
  top:142px;
  width:91px;
  height:91px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:87px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:546px;
  top:414px;
  width:91px;
  height:91px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:726px;
  top:233px;
  width:91px;
  height:91px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:726px;
  top:323px;
  width:91px;
  height:91px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u15 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:726px;
  top:414px;
  width:91px;
  height:91px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:636px;
  top:414px;
  width:91px;
  height:91px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u19 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:545px;
  top:68px;
  width:273px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:545px;
  top:86px;
  width:273px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:56px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
