@charset "utf-8";
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{-moz-user-select: none;–webkit-user-select:none;background-color:#f1f2f7;font-family: "Microsoft YaHei", "SimSun", "Arial Narrow", HELVETICA;font-size:12px;}
ol,ul{list-style:none}
img{border:none}
pre{font-family: "Microsoft YaHei", "SimSun", "Arial Narrow", HELVETICA;font-size:12px;word-wrap: break-word;word-break: break-all;}
section{background:#fff;margin-bottom:15px;border-bottom:1px solid #ddd;}
a:active,a:hover{outline:0 none}
a,a:hover{text-decoration:none}:focus{outline:0 none}

.breakall{overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;}
.bm{border-bottom:1px solid #d0d0d0;}

a.yellow_btn{
display:block;width:210px;font-size:22px;color:#fff;height:46px;line-height:46px;text-align:center;letter-spacing: 4px;
-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;
filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffb351,endColorStr=#ff7a22); /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, #ffb351,  #ff7a22);        /* IE 10 */
background:-moz-linear-gradient(top,#ffb351,#ff7a22);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffb351), to(#ff7a22));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb351), to(#ff7a22));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, #ffb351, #ff7a22);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #ffb351, #ff7a22);  /*Opera 11.10+*/
text-shadow:2px 0px 1px #bf6a19,-2px 0px 1px #bf6a19, 0px 2px 1px #bf6a19, 0px -2px 1px #bf6a19;
}

.head{letter-spacing: 2px;background:#f9144a;text-align:center;overflow:hidden;color:#fff;font-size:18px;height:42px;line-height:42px;width:100%;position: fixed;z-index:1000;top: 0;left:0;}
.head .back{text-decoration:none;display:block;cursor:pointer;width:36px;height:36px;float:left;position: absolute;overflow: hidden;left: 0;top: 2px;}
.head .back:before, .head .back:after {content: '';position: absolute;height: 2px;width: 31%;top: 50%;left: 10%;margin-top: -1px;background: #fff;}
.head .back:before{left: 32%;top: 62%;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.head .back:after{left: 32%;top: 43%;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.head .share{background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/share.png') no-repeat 50%;background-size:20px 20px;width:35px;height:35px;position:absolute;right:10px;top:2px;}
.head .vote{font-size:14px;color:#fff;float:right;width:50px;height:35px;position:absolute;right:10px;top:6px;line-height:35px;font-weight: normal;}
.head .help{background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/help.png') no-repeat 50%;background-size:20px 20px;width:35px;height:35px;position:absolute;right:10px;top:2px;}

.c_face{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;overflow:hidden;display: table-cell;}
.c_div{text-align: center;vertical-align: middle;width:100%;height:100%;}
.c_div .c_p{vertical-align: middle;}
.c_div .c_p img{border: 0;vertical-align: middle;width:100%;}

/* index */
.index{position:relative;}
.index img{width:100%;}
.index .head{background:transparent;position:absolute;top:0;left:0;}
.index .head .back{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;border: 2px solid #fff;width: 24px;height: 24px;position:absolute;top:12px;left:10px;}
.index .head .back:before{left: 26%;top: 66%;width: 43%;}
.index .head .back:after{left: 27%;top: 37%;width: 43%;}

.index .rule{background:#FF249E;-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;width:70px;height:32px;color:#fff;display:block;position:absolute;right:10px;top:10px;line-height:32px;font-size:14px;text-align:right;padding-right:20px;}
.index .rule span{position:absolute;left:10px;top:4px;width:20px;height:20px;-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;border: 2px solid #fff;display:block;}
.index .rule span:after{content:'\003f';position: absolute;left: 7px;top: -5px;}

.index .btn{background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/button.png') no-repeat;background-size:180px 40px;width:180px;height:40px;display:block;position:absolute;top: 44%;left:50%;margin-left:-90px;overflow:hidden;text-indent:-300px;}

.index .foot{position:absolute;bottom:40px;left:0;background:transparent;overflow:hidden;padding:0 10px;}
.index .foot .desc{font-size:12px;line-height:20px;color:#fff;}

.main{margin-top:10px;color:#666;font-size:14px;background:#fbfcfd;}
/* my part */
.part .title{height:40px;overflow:hidden;zoom:1;padding:8px;line-height:38px;border-bottom:1px solid #d0d0d0;margin-top:42px;}
.part .title .face{float:left;width:41px;height:41px;}
.part .title h1.enounce{font-size:16px;float:left;font-weight:normal;margin-left:10px;}
.part .title span.ticket{display:inline-block;background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/crown.png') no-repeat 0 11px;background-size:14px 14px;padding-left:16px;float:right;font-size:14px;}

.part ul{padding:10px;overflow:hidden;zoom:1;}
.part ul.desc li{line-height:20px;font-size:12px;}

.part ul.photo{padding:10px 10px 14px 4px;}
.part ul.photo li{width:96px;height:96px;overflow:hidden;float:left;margin-left:6px;margin-bottom:6px;}

.part .commend h2{font-weight:normal;padding:10px 10px 0;}
.part .commend dl{padding:12px 10px;overflow:hidden;zoom:1;border-bottom:1px solid #d0d0d0;}
.part .commend dt{width:40px;height:40px;float:left;}
.part .commend dd{margin-left:50px;}
.part .commend dd h3{font-weight:normal;color:#333;font-size:14px;margin-bottom:6px;}
.part .commend dd p{font-size:12px;line-height:18px;word-wrap: break-word;word-break: break-all;}

.part .box{overflow:hidden;zoom:1;padding: 10px 0 10px 15px;position: fixed;bottom: 0px;background-color: rgba(230,230,230,0.7);width:100%;}
.part .box .txt{-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;border:1px solid #d4d4d4;height:29px;line-height:normal;padding:0 4px;color:#666;width:78%;background-clip: padding-box;}
.part ::-webkit-input-placeholder {color: #666;} 
.part :-moz-placeholder {color: #666;} 
.part ::-moz-placeholder {color: #666;} 
.part :-ms-input-placeholder {color: #666;} 
.part .box .btn{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/commend_btn.png') no-repeat;background-size:30px 30px;overflow:hidden;text-indent:-300px;border:none;width:30px;height:30px;position: absolute;right: 20px;z-index: 1;}

.part .audit{margin:20px;}
.part .audit .desc{font-size:24px;color:#333;line-height:28px;text-align:center;letter-spacing: 4px;}
.part .audit a.join{margin:20px auto 0;}

/* 排行 */
.paihan{margin:0;margin-top:42px;}
.paihan .guanjun{position: relative;}
.paihan .guanjun .out{overflow: hidden;width: 100%;}
.paihan .guanjun .in{overflow: hidden;}
.paihan .guanjun .ad_btn_wrap{position: absolute;top: 94%;width: 100%;}
.paihan .guanjun .ad_btn_wrap a {display: block;float: left;width: 6px;height: 6px;-webkit-border-radius: 52%; -moz-border-radius: 52%; border-radius: 52%;background: #888;margin-left: 2%;}
.paihan .guanjun .ad_btn_wrap a:nth-child(1) {margin-left: 45%;}
.paihan .guanjun .ad_btn_wrap a.on{background:#000;}
.paihan .guanjun ul{overflow:hidden;width:500%;}
.paihan .guanjun li{float: left;width: 20%;position: relative;}
.paihan .guanjun li .txt{right:0;top:70%;display:inline-block;position:absolute;height:26px;line-height:26px;color:#fff;background:#e2085f;padding:0 8px 0 5px;letter-spacing: 1px;}
.paihan .guanjun img{display: block;width: 100%;float: left;}
.paihan .top{font-size:12px;background:#dfdfdf;height:40px;line-height:40px;padding:0 10px;position:relative;}
.paihan .top a.btn{display: block;width: 62px;right: 6px;top: 6px;position: absolute;color: #f9144a;height: 28px;line-height: 28px;text-align: center;-webkit-border-radius: 6px; -moz-border-radius: 6px;border-radius: 6px;}
.paihan .list li{border-bottom:1px solid #dad8d8;padding:10px 5px;overflow:hidden;zoom:1;height:50px;}
.paihan .list li .face{float:left;width:50px;height:50px;-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;overflow:hidden;display: table-cell;}
.paihan .list li .btn{background:#ffa70e;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;color:#fff;font-size:12px;text-align:center;width:50px;height:22px;line-height:22px;float:right;margin:15px 5px 0 0;letter-spacing: 1px;}
.paihan .list li .disabled{background:#acacac;}
.paihan .list li .desc{margin:0 58px 0 60px;overflow:hidden;font-size:10px;}
.paihan .list li .desc p{height:18px;line-height:18px;}
.paihan .list li .desc p.name{font-size:12px;color:#333;}
.paihan .list li .desc p.intro{color:#323232;}
.paihan .list li .desc span{display:inline-block;}
.paihan .list li .desc .arrow{background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/crown.png') no-repeat 0 5px;background-size:10px 10px;padding-left:12px;}
.paihan .list li .miaoshu{color:#7d7e7e;}

.paihan .jianpin{margin-top:10px;padding:10px;}
.paihan .jianpin h2{font-weight:normal;font-size:16px;color:#ff2b5d;margin-bottom:10px;}
.paihan .jianpin p{margin-top:1px;font-size:12px;color:#333;line-height:20px;}
.paihan .jianpin p img{width:100%;margin-top:10px;}
.paihan a.join{margin:20px auto 0;}

/* share */
.share{position:relative;}
.share img{width:100%;}
.share .title{position:absolute;top:6%;font-size:24px;font-weight:bold;width:100%;text-align:center;background-image: -webkit-linear-gradient(to bottom, #ffae65, #fff,#f2d48b);background-image: linear-gradient(to bottom, #ffae65, #fff,#f2d48b);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.share .dd{position:absolute;top:16%;font-size:16px;color:#fff;width:100%;text-align:center;letter-spacing: 1px;}
.share .face{width:250px;height:250px;-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;position:absolute;top: 27%;overflow: hidden;left: 50%;margin-left: -125px;}
.share .face img{width:100%;height:100%;}
.share .face p{width: 100%;position:absolute;bottom:0;height:46px;line-height:46px;}
.share .face .tp{background:#000;opacity: 0.5; -moz-opacity:0.5; -khtml-opacity:0.5; filter:alpha(opacity=50);z-index:1;}
.share .face .num{text-align:center;color:#fff;font-size:16px;z-index:2;}
.share .toupiao{top:75%;position:absolute;left:50%;margin-left:-105px;}
.share .cansai{width:100%;position:absolute;top:89%;overflow:hidden;zoom:1;height:30px;}
.share .cansai a{color:#fff;font-size:14px;}
.share .cansai a.left{float:left;margin-left:20px;}
.share .cansai a.right{float:right;margin-right:20px;}

/* juesai */
.juesai{margin:0;margin-top:42px;}
.juesai img{width:100%;}
.juesai .list{margin-top:10px;padding:0 10px;}
.juesai .list:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.juesai .list li{width:26%;margin-left:16px;height:145px;text-align:center;float:left;margin-bottom:12px;}
.juesai .list li .c_face{margin-bottom:5px;width:80px;height:80px;}
.juesai .list li .c_face .c_p{height: 100%;}
.juesai .list li .c_face img{vertical-align: top;max-width: 80px;max-height: 80px;-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.juesai .list li p.rq{margin-top:10px;font-size:14px;}
.juesai .list li p.rq span{display:inline-block;background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/crown.png') no-repeat 0 3px;background-size:13px 13px;padding-left:16px;color:#666;}
.juesai .list li p.buttons{margin-top:3px;}
.juesai .list li a.btn{background:#ffa70e;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;color:#fff;font-size:12px;text-align:center;width:50px;height:22px;line-height:22px;letter-spacing: 1px;display:block;margin:0 auto;}
.juesai .list li a.disabled{background:#acacac;}
.juesai .list li p.txt{color:#333;margin-top:3px;}
.juesai .guanjun li{height:130px;position:relative;}
.juesai .guanjun li .c_face{position:relative;height: 80px;width: 80px;}
.juesai .guanjun li .pm{-webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px;height:40px;width:57px;position:absolute;right: -35px;top: 69%;text-align: left;padding-left: 5px;padding-top: 2px;font-size: 12px;color: #fff;}
.juesai .guanjun li.gj .pm{background:#f1bb01;}
.juesai .guanjun li.yj .pm{background:#ed69d3;}
.juesai .guanjun li.jj .pm{background:#6093ec;}
.juesai .guanjun li font{display:block;width:30px;height:30px;background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/huanguan.png') no-repeat;position:absolute;top:-10px;left:56px;background-size:30px 84px;}
.juesai .guanjun li.yj font{background-position:0 -28px;}
.juesai .guanjun li.jj font{background-position:0 -56px;}
.juesai .jianpin{margin-top:10px;padding:10px;}
.juesai .jianpin h2{font-weight:normal;font-size:16px;color:#ff2b5d;margin-bottom:10px;}
.juesai .jianpin p{margin-top:1px;font-size:12px;color:#333;line-height:20px;}
.juesai .jianpin p img{width:100%;margin-top:10px;}


.meinv{background:#f1f2f7;line-height:20px;}
.meinv li{padding:0 10px 10px;border-bottom:1px solid #ddd;margin-top:10px;background:#fff;}
.meinv .top{overflow:hidden;zoom:1;height:50px;line-height:50px;}
.meinv .c_face{float:left;width:40px;height:40px;margin-top: 5px;}
.meinv .c_face img{vertical-align: top;}
.meinv .xuanyan{margin-left:50px;font-size:14px;}
.meinv .bigpic{width:100%;}
.meinv .bottom{height:24px;overflow:hidden;zoom:1;margin-top:5px;}
.meinv .bottom .arrow{background:url('http://bluebee.b0.upaiyun.com/app/lmm/images/crown.png') no-repeat 0 2px;background-size:14px 14px;padding-left:15px;float:left;}
.meinv .bottom a.btn{background:#ffa70e;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;color:#fff;font-size:12px;text-align:center;width:50px;height:22px;line-height:22px;float:right;letter-spacing: 1px;}
.meinv .bottom a.disabled{background:#acacac;}
.meinv section{border:none;}


/**
 * 下拉样式 Pull down styles
*/
#wrapper {position:absolute; z-index:1;top:42px; bottom:0;left:0;width:100%;background:#f1f2f7;overflow:auto;}
#scroller {position:relative;/*	-webkit-touch-callout:none;*/-webkit-tap-highlight-color:rgba(0,0,0,0);width:100%;padding:0;}
#wrapper .main{position: relative;padding: 0;margin: 0;width: 100%;}
#wrapper .main .item{}

#pullDown, #pullUp {background:#fff;height:40px;line-height:40px;padding:5px 10px;border-bottom:1px solid #ccc;font-weight:bold;font-size:14px;color:#888;}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {display:block; float:left;width:40px; height:40px;background:url("http://bluebee.b0.upaiyun.com/app/news/images/pull-icon@2x.png") 0 0 no-repeat;-webkit-background-size:40px 80px; background-size:40px 80px;-webkit-transition-property:-webkit-transform;-webkit-transition-duration:250ms;}
#pullDown .pullDownIcon {-webkit-transform:rotate(0deg) translateZ(0);}
#pullUp .pullUpIcon  {-webkit-transform:rotate(-180deg) translateZ(0);}
#pullDown.flip .pullDownIcon {-webkit-transform:rotate(-180deg) translateZ(0);}
#pullUp.flip .pullUpIcon {-webkit-transform:rotate(0deg) translateZ(0);}
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {background-position:0 100%;-webkit-transform:rotate(0deg) translateZ(0);-webkit-transition-duration:0ms;-webkit-animation-name:loading;-webkit-animation-duration:2s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;}
@-webkit-keyframes loading {from { -webkit-transform:rotate(0deg) translateZ(0); }to { -webkit-transform:rotate(360deg) translateZ(0);}}

/*------------- S 以下css主要是仿IOS滚动条样式(可选样式)  -------------*/		
/**
 * Horizontal Scrollbar
 */
.myScrollbarH {position:absolute;z-index:100;height:7px;bottom:1px;left:2px;right:7px}
.myScrollbarH > div {height:100%;}
.myScrollbarV {position:absolute;z-index:100;width:7px;bottom:7px;top:2px;right:1px}
.myScrollbarV > div {width:100%;}
.myScrollbarH > div,.myScrollbarV > div {position:absolute;z-index:100;/* The following is probably what you want to customize */-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;border-width:3px;-webkit-border-image:url("http://bluebee.b0.upaiyun.com/app/news/images/scrollbar.png") 6 6 6 6;-moz-border-image:url("http://bluebee.b0.upaiyun.com/app/news/images/scrollbar.png") 6 6 6 6;-o-border-image:url("http://bluebee.b0.upaiyun.com/app/news/images/scrollbar.png") 6 6 6 6;border-image:url("http://bluebee.b0.upaiyun.com/app/news/images/scrollbar.png") 6 6 6 6;}
/*------------- E 以上css主要是仿IOS滚动条样式  -------------*/

/* pic */
.huandeng{background:#000;padding-top:10px;}
.huandeng .piclist{width:100%;height:100%;position:relative;overflow:hidden;}
.huandeng ul{overflow:hidden;}
.huandeng li{float:left;width:20%;}
.huandeng .page{text-align:right;font-size:20px;color:#fff;height:30px;line-height:30px;padding:5px 10px;}
.huandeng .scroll{width:100%;overflow:hidden;}