.part1{
	background-size: cover;
	-webkit-background-size: cover;
}
.part1 img{
	margin-top: 38px;
	margin-bottom: 28px;
}
.part1 p{
	margin: 0 auto;
	width: 200px;
	height: 40px;
	line-height: 38px;
	border: 1px solid #666;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	
}

