<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1,user-scalable=no" />
<meta name="keywords" content="">
<meta name="description" content="">
<title>用户协议</title>
<style type="text/css">
*{padding:0;margin:0; font-family:"Microsoft YaHei", "微软雅黑",arial,"arial black", Georgia, "Times New Roman",STXihei, "华文细黑",serif;}
body{padding:16px 9px 16px 9px;background:#fafafa;}
h3{margin:10px 0;font-size:15px;color: #333;}
p{font-size:13px;color: #666;line-height:24px;}
</style>
</head>

<body>
	<h3 style="text-align: center;">YoYo约会APP用户服务条款</h3>
	<p>欢迎申请使用yoyo公司提供的yoyo交友服务（yoyo交友作为网络服务平台，为用户提供约会、交友信息服务）。请用户仔细阅读以下本服务条款全部内容，本服务条款的效力范围及于yoyo交友平台的所有产品和服务。如用户不同意本服务条款任意内容，请不要注册或使用yoyo交友服务，如用户通过注册和使用本软件及服务，即表示用户与yoyo公司已达成协议并自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。</p>
	<h3>1、申请注册成为yoyo交友会员应同时满足</h3>
	<h3>以下全部条件：</h3>
	<p>（1）用户采用第三方账号进行登录，和手机号登录用户可以使用微信，QQ第三方账号进行登录</p>
	<p>（2）用户在注册之日年满18周岁，即具备完全民事权利和完全民事行为能力的自然人。</p>
	<h3>2、用户注册规则</h3>
	<p>yoyo交友会员注册资料包括但不限于用户的yoyo交友会员帐号名称、昵称、头像、密码、联系方式、择友要求及个人形象照片等注册时输入的所有信息。用户在填写会员资料时，同意遵守以下内容：</p>
	<p>（1）用户在注册yoyo交友会员时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在yoyo交友会员注册资料中出现违法和不良信息，且用户保证其在注册和使用帐号时，不得有以下情形。</p>
	<p>（a）违反宪法或法律法规规定的；</p>
	<p>（b）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
	<p>（c）损害国家荣誉和利益的，损害公共利益的；</p>
	<p>（d）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
	<p>（e）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
	<p>（f）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
	<p>（g）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
	<p>（h）侮辱或者诽谤他人，侵害他人合法权益的；</p>
	<p>（i）含有法律、行政法规禁止的其他内容的。</p>
	<p>若用户提供给yoyo公司的帐号注册资料不准确，不真实，含有违法或不良信息的，yoyo公司有权不予注册，并保留终止用户使用yoyo交友各项服务的权利。若用户以虚假信息骗取帐号注册或帐号头像、个人简介等注册资料存在违法和不良信息的，yoyo公司有权采取通知限期改正、暂停使用、注销登记等措施。对于冒用关联机构或社会名人注册帐号名称的，yoyo公司有权注销该帐号，并向政府主管部门进行报告。</p>
	<p>（2）根据相关法律、法规规定以及考虑到yoyo交友服务的重要性，用户同意：</p>
	<p>（a）在注册yoyo交友会员时提交个人有效身份信息进行实名认证；</p>
	<p>（b）提供及时、详尽及准确的帐户注册资料；</p>
	<p>（c）不断更新注册资料，符合及时、详尽准确的要求，对注册yoyo交友会员时填写的身份证件信息不能更新。</p>
	<p>yoyo公司有权根据第三方的投诉或自行合理判断对违反以上注册规则的会员采取措施且不承担任何责任，并不需退还该会员已付的任何费用。</p>
	<h3>3、VIP会员服务</h3>
	<p>yoyo交友会员分为普通会员和VIP会员。普通会员不需支付任何费用，普通会员付费购买相关付费服务后升级为付费会员，付费会员有效期满且未续期的，自动降级为普通会员。各会员具体服务内容、付费标准以yoyo交友官方页面公布为准。</p>
	<p>会员购买付费服务后，已支付的费用不能退还，会员购买的服务期限以及等值的费用不能转移到其它yoyo公司收费服务上或者转移给其他会员。钻是yoyo公司发行的用于yoyo交友服务中购买付费服务的虚拟货币。会员可通过购买或yoyo公司赠送的方式获得钻。会员购买钻必须通过yoyo公司提供或认可的交易平台进行购买，从非yoyo公司提供或认可的交易平台所获得的钻将被认定为来源不符合yoyo交友规则，yoyo公司有权拒绝从非yoyo公司提供或认可的方式所获得的钻在yoyo交友中使用。</p>
	<h3>4、会员的帐号及密码和安全性</h3>
	<p>用户知悉并同意会员帐号的唯一性和不可转让性，因此，用户成为yoyo交友的会员后，不得以任何形式转让，包括但不限于以转让、出借、出租等形式将会员身份提供他人使用。同时，yoyo公司也不接受会员以任何形式代人征婚等行为。如有上述行为，yoyo公司有权在不通知会员的情况下采取中止、终止用户部分或全部会员服务等措施，甚至注销该会员帐号，并不需退还该会员已付的任何费用。</p>
	<p>会员有义务采取各种措施保管好自己的帐号及密码，如果会员未保管好自己的帐号和密码而对会员、yoyo公司或第三方造成的损害，会员将负全部责任。会员同意若发现任何非法使用会员帐号或安全漏洞的情况，有义务立即通告yoyo公司。</p>
	<h3>5、会员管理</h3>
	<p>会员独立承担其交友行为和发布内容的责任，会员对服务的使用必须遵守所有适用于服务的地方法律、国家法律和国际法律，会员在使用yoyo交友服务中（如发布或传送信息）不得违背严肃的婚恋交友目的；不得侵犯任何人合法权益，包括但不限于肖像权、隐私权、名誉权及知识产权等，不得违反本服务条款；不得进行任何非法活动，包括不限于对其他会员进行诈骗（如花篮托、酒吧托、机票托、六合彩等）的行为。否则由此产生的一切责任由会员独立承担，如因此造成yoyo公司损失的，会员应负责全部赔偿。同时，会员同意，yoyo公司有权采取处罚措施，包括但不限于在不通知会员的情况下采取屏蔽、修改或删除会员发布的任何信息，中止、终止会员部分或全部服务等措施，甚至注销该会员帐号、列入黑名单，并不需退还该会员已付的任何费用。同时，yoyo公司将根据国家法律法规、相关政策在必要时向有关机关报告并配合有关机关的行动。</p>
	<p>yoyo公司保留独立判断会员的行为是否符合本服务条款的要求的权利，如果会员违背了本服务条款的规定，yoyo公司有权采取处罚措施。</p>
	<h3>6、会员隐私制度</h3>
	<p>会员知悉并同意，为便于向会员提供更好的服务，yoyo公司将在会员自愿选择服务或者提供信息的情况下收集会员的个人信息，并将这些信息进行整合。在会员使用yoyo公司服务时，服务器会自动记录一些信息，包括但不限于URL、IP地址、浏览器类型、使用语言、访问日期和时间，等。为方便会员登录或使用yoyo公司的服务，yoyo公司在有需要时将使用cookies等技术，并将收集到的信息发送到对应的服务器。会员可以选择接受或者拒绝cookies。如会员选择拒绝cookies，则会员有可能无法登录或使用依赖于cookies的服务或者功能。yoyo公司收集的信息将成为yoyo公司常规商业档案的一部分，且有可能因为转让、合并、收购、重组等原因而被转移到yoyo公司的继任公司或者指定的一方。yoyo公司同意善意使用收集的信息，且采取各项措施保证信息安全。 尊重会员个人隐私是yoyo公司的一项基本政策。所以，作为对以上第2条个人注册资料条款的补充，yoyo公司不会公开或透露会员的注册资料及保存在yoyo各项服务中的非公开内容，除非yoyo公司在诚信的基础上认为透露这些信息在以下几种情况是必要的：</p>
	<p>（1）遵守有关法律规定，包括在国家有关机关查询时，提供会员的注册信息、会员在yoyo的网页上发布的信息内容及其发布时间、互联网地址或者域名。</p>
	<p>（2）保持维护yoyo的知识产权和其他重要权利。</p>
	<p>（3）在紧急情况下竭力维护会员个人和社会大众的隐私安全。</p>
	<p>（4）根据本条款相关规定或者yoyo认为必要的其他情况下。</p>
	<h3>7、安全性</h3>
	<p>本平台仅为用户提供一个互通信息、进行时间共享交易的平台，充当买卖双方之间的交流及撮合媒介。</p>
	<p>公布在本平台上的交易标的是用户自行发布的劳务服务，并非本平台所有。平台所有服务者与本平台无劳动合同关系，平台不对劳务关系主体所涉处理及的各方承担责任。对于用户发布在本平台的服务、提供的信息及参与应邀及竞标的过程，本平台已做相关审核，并对违反本平台《审核规范》及相关规定的信息（包括但不限于色情、反动、违法、违规）等做相应处理，但不对用户产品信息的真伪性进行负责。对于因交易产生的任何纠纷， 平台作为信息撮合平台，可提供介入调停，但不对最后结果负责。若用户对调停结果有异议，约单有义务向相关司法部门或行政管理部门提供纠纷用户在平台交易的相关资料，协助相关司法部门或行政管理部门作出判决、决定。</p>
	<p>用户使用本平台进行交易时，必须了解且遵守以下事项：</p>
	<p>a)服务者和需求者必须通过自己的谨慎判断来确定交易标的、服务者和需求者信息的真实性、合法性以及准确性。</p>
	<p>b)服务者和需求者必须对交易履行负完全责任。</p>
	<p>c)服务者和需求者必须自行解决由交易所引起的纠纷。平台可参与调解，但无权决定和影响纠纷结果。</p>
	<p>d)服务者和需求者必须自行负担因交易而产生的费用。</p>
	<p>e)服务者和需求者必须了解并遵守中华人民共和国的相关法律规定。</p>
	<p>f)服务者注册yoyo平台，发布服务即代表同意提供合规、真实、合法服务。服务者在申请资格时缴纳的信用承诺金是提高服务者的真实度，不作为纠纷依据。</p>
	<h3>8、信息储存及相关知识产权</h3>
	<p>yoyo公司对yoyo交友服务将尽力维护其安全性及方便性，但对服务中出现的信息（包括但不限于会员发布的信息）删除或储存失败不承担任何责任。</p>
	<p>yoyo公司尊重知识产权并注重保护会员享有的各项权利。会员在yoyo交友服务中上载或发布内容（包括但不限于个人照片、肖像、文字、交友成功故事等）或授权yoyo公司的行为不会对用户就上述内容所享有的知识产权产生不良影响，上载或发布的作品的著作权仍归作品的创作者所有。为了更好地对会员、会员上载或发布的内容以及yoyo交友宣传推广，会员同意yoyo公司可在yoyo网站及yoyo旗下其他产品中使用和传播这些内容，以及为宣传推广的目的将上述内容许可给第三方使用和传播。</p>
	<h3>9、yoyo交友相关活动之肖像权及录音、视频的授权使用</h3>
	<p>会员参加yoyo公司组织的各类线下活动或接受yoyo公司的采访、访谈时，会员知悉并同意：为了更好地对会员以及yoyo交友进行宣传推广，会员允许yoyo公司拍摄会员照片和视频或进行录音，同时同意将照片、视频和录音涉及的个人肖像权及其他权益授与yoyo公司使用。yoyo公司注重保护会员的肖像权及形象，会员的授权行为不会对会员的形象及其享有权益产生不良影响。同样，为宣传推广目的，会员同意yoyo公司或yoyo公司认可的第三方对照片、视频或录音进行展示、传播及推广，以及对前述照片、视频或录音进行复制、修改、编辑及出版等。</p>
	<p>对于yoyo公司策划、发起、组织或是承办的任何会员活动(包括但不限于收取费用以及免费活动)，yoyo公司不对上述活动的效果向用户作出任何保证或承诺，也不担保活动期间会员自身行为的合法性、合理性。由此产生的任何对于会员个人或者他人的人身或者是名誉以及其他损害，yoyo公司不承担任何责任。</p>
	<h3>10、不可抗力条款</h3>
	<p>yoyo公司对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情况。</p>
	<p>会员理解并接受下载或通过yoyo交友服务取得的任何信息资料取决于会员自己，并由其承担系统受损、资料丢失以及其它任何风险。</p>
	<p>会员通过yoyo交友服务传送的内容（包括会员填写的会员注册资料、会员传送的内容等）的行为系会员自行行为，由会员独立承担责任。在任何情况下，yoyo公司均不为会员经由yoyo交友服务以填写、张贴、发送电子邮件、其它方式传送的任何内容或者会员间的纠纷等行为负责。</p>
	<h3>11、本服务条款的修改</h3>
	<p>会员知晓yoyo公司不时公布或修改的与yoyo交友服务有关的其他规则、条款及公告等是本服务条款的组成部分。yoyo公司有权在必要时通过在网页上发出公告等合理方式修改本服务条款，会员在享受各项服务时，应当及时查阅了解修改的内容，并自觉遵守本服务条款。会员如继续使用本服务条款涉及的服务，则视为对修改内容的同意；会员在不同意修改内容的情况下，有权停止使用本服务条款涉及的服务。</p>
	<h3>12、服务的变更、中止和终止</h3>
	<p>会员有权不经通知单方终止接受yoyo交友服务，此种情况下，yoyo公司不退还该会员已付的任何费用。同时，yoyo公司保留变更或中止服务以及根据实际情况单方终止向会员提供yoyo交友服务的权利，如发生前述情况，yoyo公司将通过公告等合理方式告知会员。结束yoyo交友服务后，会员使用yoyo交友服务的权利立即终止。普通会员帐号连续360天未登录yoyo交友的，yoyo公司有权注销该会员帐号并停止提供yoyo交友服务，并不承担退费或其他责任。</p>
	<h3>13、法律适用及争议解决</h3>
	<p>本服务条款的生效、履行、解释及争议的解决适用中华人民共和国的现行法律，所发生的争议应提交北京海淀区人民法院解决。</p>
	<h3>14、通知</h3>
	<p>（1）yoyo公司向会员发出的通知，将采用页面公告、电子邮件或其他yoyo公司认为合适的形式，同时，yoyo公司有权以前述方式向会员发送广告和宣传材料。</p>
	<p>（2）因会员提供的联系方式不准确，导致会员在使用yoyo交友服务过程中无法获取相关信息而产生的一切责任，由会员独自承担。</p>
	<h3>15、权利声明</h3>
	<p>yoyo交友约会服务涉及到的产品所有权以及相关软件的知识产权归yoyo公司所有，yoyo公司保留所有的权利。</p>
	
	<script type="text/javascript">
		function requestGoBack() {
			window.target.action(1);
		}
	</script>
</body>
</html>