body{
	background: #F5572C;
}
.outWrap{
	position: relative;
}
.navbar_icon{
	margin-top: 2px;
}
#mainCon{
	padding-top: 3.36rem;
	padding-bottom: 0.6rem;
	background: url(../../img/task/task_bg.png) #FD5B33 no-repeat top left;
	background-size:contain;
	-webkit-background-size:contain;
}
/*奖励详情，任务详情，任务说明背景图片*/
.titleBox{
	width: 3.1rem;
	height: 0.6rem;
	line-height: 0.6rem;
	position: absolute;
	top: -0.3rem;
	left: 50%;
	margin-left: -1.55rem;
	z-index: 2;
	background: url(../../img/task/titleboxBG.png) no-repeat center center;
	background-size: contain;
	-webkit-background-size: contain;
	font-size: 0.3rem;
	color: #333;
	text-align: center;
}
/*====进度条模块====*/
.progressBarBox{
	width: 67%;
	margin: 0 auto;
	margin-bottom: 0.7rem;
}
.progressBarBox p{
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
}
.progress{
    height: 0.2rem; 
    background: #ffe6c5;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    background-clip: padding-box;
	-webkit-background-clip: padding-box;
    margin-bottom: 0.2rem;
    overflow: visible;
    position: relative;
}
.progress .progress-bar{
	position: relative;
	height: 100%;
    background:#ff8e00;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}


/*===奖励金模块====*/
.awardBox{
	position: relative;
	width: 92%;
	margin: 0 auto;
	margin-bottom: 0.8rem;
	padding-top: 0.3rem;
	background: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.awardBox li{
	text-align: center;
	float: left;
	width: 50%;
	padding: 0.2rem 0;
}
.awardBox li h2{
	font-weight: normal;
	font-size: 0.5rem;
	color: #ff432a;
	padding-bottom: 0.1rem;
}
.awardBox li p{
	font-size: 0.2rem;
	color: #666;
}
.tx{
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	font-size: 0.24rem;
	color: #667fd6;
}

/*===任务列表模块===*/
.taskListBox{
	overflow: scroll;
	width: 92%;
	height: 6.8rem;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	padding: 0 0.26rem;
	padding-top: 0.7rem;
	margin-bottom: 0.8rem;
}

.taskListItem{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	border: 1px solid #999;
	padding: 0.16rem;
	margin-bottom: 0.3rem;
	width: 100%;
}
.taskInfo{
	width: 80%;
}
.taskInfo li{
	width: 100%;
	font-size: 0.2rem;
	color: #999;   
	padding-bottom: 0.06rem;
}
.taskInfo li:nth-of-type(1){
	font-size: 0.26rem;
	color: #333;
}
.stateBtnBox{
	width: 20%;
	height: 0;
}
/*====四种状态按钮====*/
.stateBtn {
	display: block;
	text-align: center;
	font-size: 0.24rem;
	width: 1.1rem;
	height: 0.6rem;
	line-height: 0.6rem;
	
}
/*已完成*/
.finished{
	display: block;
	width: 100%;
}
/*已过期*/
.overTime{
	background: #eee;
	color: #666;
}
/*在任务时间内，"去完成"*/
.onTime{
	background: #ff432a;
	color: #fff;
}
/*时间未到*/
.beforeTime{
	background: #fff;
	color: #ff432a;
	border: 1px solid #ff432a;
}

/*===任务说明模块===*/
.taskCaption{
	position: relative;
	width: 92%;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	padding:0 0.26rem;
	padding-top: 0.7rem;
}
.taskCaption ul li{
	font-size: 0.24rem;
	color: #333;
	padding-bottom: 0.12rem;
}
